.character {
    width: 220px;
    height: 150px;
}

ul, charList {
    list-style: none;
    padding-left: 0;
}

.characters {
    position: relative;
    display: inline-block;
    margin: 14px 7px 0px 7px;
    background-color: white;
    width: 240px;
    height: 170px;
    padding-bottom: 15px;
    text-align: center;
    border: solid 2px black;
}

.container {
    text-align: center;
    min-width: 1063px;
    margin: 0px auto;    
}

#battle {
    margin: 0px auto;
    text-align: center;
    width: 1000px;
}

body {
    background-image: url("../images/background.jpg");
    font-size: 1.1em;
}

h1, h2 {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h2 {
    margin-top: 55px;
    margin-bottom: 10px;
}

.pokeList {
    display: inline-block;
}

.characters ul {
    background-color: inherit;
    position: relative;
    right: 2px;
    display: flex;
    justify-content: space-around;
    margin-top: 0px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    width: inherit;

}

#trainer {
    color: yellow;
}

#vs {
    color: white;
    display: inline-block;
    font-size: 2.5em;
    padding-top: 20px;
}

#player {
    color: yellow;
    position: absolute;
    top: -30px;
    right: 39%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#opponent {
    color: #e51640;
    position: absolute;
    top: -30px;
    right: 34%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#buttonHolder {
    margin: 0 auto;
    width: 220px;
}

#battleButton {
    float: left;
    width: 100px;
    height: 25px;
}

#resetButton {
    float: right;
    width: 100px;
    height: 25px;
}

.battleArena {
    margin: 0px auto;
    min-width: 1000px;
    max-width: 1000px;
    margin-top: 100px;
}

#playerPokeImg, #computerImg {
    margin-top: 85px;
    background-color: white;
    width: 200px;
    height: 150px;
    border: 2px solid black;
}

#playerPokeImg {
    position: relative;
    left: 250px;
    bottom: 257px;
}

#computerImg {
    position: relative;
    right: 250px;
    bottom: 257px;
}

#playerhp {
    position: relative;
    left: 250px;
    bottom: 460px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#computerhp {
    position: relative;
    right: 250px;
    bottom: 460px;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}